@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="row top-container py-5">
        <div class="col">
            <div class="d-flex justify-content-center align-items-center h-100">
                <img src="assets/Billede.jpg" alt="billede af mig" style="width:150px;height:150px;"/>
            </div>
        </div>
        <div class="col-8 top-profiletext" id="top">
            Oliver Marinus Østerby
            <div>
            Data Tekniker & Programmør
            </div>
        </div>
</div>

<div class="row mid-container py-5 d-flex flex-row">
   <div class="col-lg-4 col-sm-12">
        <div class="mid-text">
         <h3 style="color:#FFA500">Kontakt</h3>
             <table class="w-100">
              <tr>
                <td>
                    <p>
                        @Model.Kontaktinfo.Iphonenummer
                    </p>
                    </td>
                </tr>
                <tr>
                <td>
                    <p>
                        @Model.Kontaktinfo.Mail
                    </p>
                    </td>
                </tr>
                <tr>
                <td>
                    <p>
                        @Model.Kontaktinfo.Adresse
                    </p>
                 </td>
                </tr>
            </table>
            </div>
            
        <div class="mid-text">
            <h3>Sprog</h3>
            <div class="d-flex align-items-baseline w-100">
                <table class="w-100">
                    @foreach (var language in Model.Languages)
                    {
                        <tr>
                            <td>@language.Key</td>
                            <td class="w-100">
                                <div class="d-flex align-items-baseline w-100">
                                    @for(int i = 0; i < language.Value; i++)
                                    {
                                        <div class="dot-orange mx-1"></div>
                                    }

                                    @for(int i = 0; i < (5 - language.Value); i++)
                                    {
                                        <div class="dot-grey mx-1"></div>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                    
                    
                </table> 
            </div>
        </div>

        <div class="mid-text">
            <h3>Skills</h3>
            <ul>

             @foreach (var skill in Model.Skills)
             {
              <li>
                  @skill
              </li>  
             }
            </ul>

        </div>

        <div class="mid-text">
            <h3>Hobbyer</h3>
            <p>
                @Model.Hobbyer
            </p>
        </div>
   </div>
    <div class="col-8">
        <div class="row rmid-text">
         <h2>Om mig</h2> 
          <div class="col">
              
                @Model.About
              
          </div>
        </div>
      
        <div class="row rmid-text my-5">
         <h2>Uddannelse</h2>
         <div class="col">
           
              @foreach (var Uddannelse in Model.Uddannelser)
             {
             <div>
                <h4>@Uddannelse.Navn</h4>
                <p1>@Uddannelse.Beskrivelse</p1>
                <p1>@Uddannelse.Slutdato.ToString("dd/MM/yyyy")</p1>
             </div>
             }   
             
         </div>
        </div>
       
        <div class="row rmid-text">
        <h2>Erhvervserfaring</h2>
        <div class="col">
              @foreach (var arbejede in Model.Arbejdesteder)
             {
              <div>
                <h4>@arbejede.Navn</h4>
                <p1>@arbejede.Beskrivelse</p1>
             </div>
             }   
         </div>
        </div>
   </div>
